.menu {
  min-height: 100vh;
  width: 250px;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #343a40; 
}

.main-admin-container {
  display: flex;
  flex-direction: row;
}

.profile-page-container {
    
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}