.logo img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.logo:hover img {
  transform: scale(1.15);
}
.logo {
  display: flex;
  color: #fff;
  text-decoration: none;
}
nav {
  background-color: #333;
  padding: 50px 0;
  padding: 6px;
}

.navbar{
  z-index: 1001;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.logo a:hover{
    color: #a4a4a4;
}

.links-and-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button{
    color: #fff;
    background-color: rgb(78, 78, 78);
    border-radius: 0px;
    padding: 10px;
    border: none;
    transition: background-color 0.3s ease;
}

.buttons button:hover{
    background-color: rgb(58, 58, 58);
    color: #a4a4a4;
}